<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName = "Moltbot" ?>
  <?define ProductVersion = "1.0.0" ?>
  <?define Manufacturer = "Moltbot Project" ?>
  <?define UpgradeCode = "A7B8C9D0-1E2F-3A4B-5C6D-7E8F9A0B1C2D" ?>
  
  <Product Id="*" 
           Name="$(var.ProductName)" 
           Language="1033" 
           Version="$(var.ProductVersion)" 
           Manufacturer="$(var.Manufacturer)" 
           UpgradeCode="$(var.UpgradeCode)">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="Personal AI Assistant CLI and Gateway"
             Comments="Moltbot - Personal AI Assistant for Windows" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Icon for Add/Remove Programs -->
    <Icon Id="MoltbotIcon" SourceFile="..\..\README-header.png" />
    <Property Id="ARPPRODUCTICON" Value="MoltbotIcon" />
    
    <!-- Add/Remove Programs properties -->
    <Property Id="ARPHELPLINK" Value="https://docs.molt.bot" />
    <Property Id="ARPURLINFOABOUT" Value="https://molt.bot" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />

    <!-- Check for Node.js -->
    <Property Id="NODEJSINSTALLED">
      <RegistrySearch Id="NodeJsRegistry"
                      Root="HKLM"
                      Key="SOFTWARE\Node.js"
                      Name="InstallPath"
                      Type="directory" />
    </Property>
    
    <Condition Message="Node.js 22 or later is required. Please install Node.js from https://nodejs.org before installing Moltbot.">
      <![CDATA[Installed OR NODEJSINSTALLED]]>
    </Condition>

    <Feature Id="ProductFeature" Title="Moltbot CLI" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="EnvironmentVariables" />
    </Feature>
    
    <!-- UI for installation -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="..\..\installer\windows\license.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Moltbot" />
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Moltbot" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main CLI batch files -->
      <Component Id="MoltbotCli" Guid="*">
        <File Id="MoltbotBat" 
              Source="..\..\dist\moltbot.bat" 
              KeyPath="yes" />
        <File Id="ClawdbotBat" 
              Source="..\..\dist\clawdbot.bat" />
      </Component>
      
      <!-- Main entry point -->
      <Component Id="MainScript" Guid="*">
        <File Id="MoltbotMjs" 
              Source="..\..\moltbot.mjs" 
              KeyPath="yes" />
      </Component>
      
      <!-- Package metadata -->
      <Component Id="PackageJson" Guid="*">
        <File Id="PackageJsonFile" 
              Source="..\..\package.json" 
              KeyPath="yes" />
      </Component>
      
      <!-- Documentation -->
      <Component Id="Documentation" Guid="*">
        <File Id="ReadmeFile" 
              Source="..\..\README.md" 
              KeyPath="yes" />
        <File Id="LicenseFile" 
              Source="..\..\LICENSE" />
        <File Id="ChangelogFile" 
              Source="..\..\CHANGELOG.md" />
      </Component>
      
      <!-- Dist folder - Note: WiX heat.exe would normally be used to harvest this -->
      <!-- For simplicity, we're including the main entry point -->
      <Component Id="DistFolder" Guid="*">
        <File Id="IndexJs" 
              Source="..\..\dist\index.js" 
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- Add to PATH -->
    <Component Id="EnvironmentVariables" Directory="INSTALLFOLDER" Guid="*">
      <Environment Id="PATH" 
                   Name="PATH" 
                   Value="[INSTALLFOLDER]" 
                   Permanent="no" 
                   Part="last" 
                   Action="set" 
                   System="yes" />
      <CreateFolder />
    </Component>
  </Fragment>
</Wix>
